{% extends 'base.html.twig' %}

{% block title %}Hello PanierController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    .table{
        margin: 20px 0;
    }
    #vide{
        display:none;
        position:fixed;
        top:30%;
        left:45%;
    }
</style>
<div class="container">
<div class="row">
<h1>Panier</h1>
<div id="vide">
    <h5>Panier vide</h5>
    <a href="{{ path('product') }}">Ajoutez des produits</a>
</div>
<table id="tab" class="table table-dark table-striped">
    <thead>
        <tr>
            <th>Nom</th>
            <th></th>
            <th>Prix</th>
            <th>Quantite</th>
        </tr>
    </thead>
    <tbody id="elems">
        {% for p in products %}
                <tr>
                    <td><a href="{{ path('product.show', {id : p.product.id}) }}">{{ p.product.name }}</a></td>
                    <td>
                        <form action="{{ path('panier.delete',{id: p.product.id}) }}" method="POST" onsubmit="return confirm('Etes-vous sûr de supprimer cet article ?')">
                            <input type="hidden" name="_method" value="DELETE">
                            <input type="hidden" name="token" value="{{ csrf_token('delete-item') }}">
                            <button  class="btn btn-danger">Supprimer</button>
                        </form>
                    </td>
                    <td>{{ p.product.price }} €</td>
                    <td>{{ p.quantite }}</td>
                    
                    
                </tr>
        {% endfor %}
    </tbody>
    <tfoot>
    <tr>
      <td colspan="3">Total</td>
      <td>{{ total }} €</td>
    </tr>
  </tfoot>
</table>
<div id="form">
{{ form_start(commandForm) }}
        <div class="form-group">
            <label for="command_email">Votre email</label>
            {{ form_widget(commandForm.email) }}
            <small class="text-danger">
                {{ form_errors(commandForm.email) }}
            </small>
        </div>        
        <button type="submit" class="btn btn-primary btn-block">
            Valider le panier
        </button>
    {{ form_end(commandForm) }}
</div>
</div>
</div>
<script>
    var elems = document.getElementById("elems").childElementCount;
    var table = document.getElementById("tab");
    var vide = document.getElementById("vide");
    var form = document.getElementById("form");
    if(elems<=0){
        table.style.display="none";
        form.style.display="none";
        vide.style.display="block";
    }
</script>
{% endblock %}
