{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <table class="table table-striped">
                <caption style="caption-side: top;">Most Recent</caption>
                <thead>
                    <tr>
                        <th>Nom</th>
                        <th>Date</th>
                    </tr>
                </thead>
                <tbody>
                    {% for product in mostRecentProducts %}
                        <tr>
                            <td><a href="{{ path('product.show', {id : product.id}) }}">{{ product.name }}</a></td>
                            <td>{{ product.createdAt|date('d/m/y') }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="col-md-6">
            <table class="table table-striped">
                <caption style="caption-side: top;">Most Liked</caption>
                <thead>
                    <tr>
                        <th>Nom</th>
                        <th>Prix</th>
                    </tr>
                </thead>
                <tbody>
                    {% for product in mostCheapProducts %}
                        <tr>
                            <td><a href="{{ path('product.show', {id : product.id}) }}">{{ product.name }}</a></td>
                            <td>{{ product.price }}€</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
