{% extends 'base.html.twig' %}

{% block title %}Hello CommandController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    .table{
        margin:0 20px;
    }
     #vide{
        display:none;
        position:fixed;
        top:30%;
        left:45%;
    }
</style>

<div class="container">
<div class="row">
<h1>Commandes</h1>
<div id="vide">
    <h5>Aucune commande</h5>
    <a href="{{ path('product') }}">Ajoutez des produits</a>
    <span>Ou</span>
    <a href="{{ path('panier') }}">Comfirmez votre panier</a>
</div>
<table id="tab" class="table table-dark table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Email</th>
        </tr>
    </thead>
    <tbody id="elems">
        {% for command in commands %}
                <tr>
                    <td><a href="{{ path('command.show', {id : command.id}) }}">{{ command.id }}</a></td>
                    <td><a href="{{ path('command.show', {id : command.id}) }}">{{ command.email }}</a></td>
                </tr>
        {% endfor %}
    </tbody>
</table>
<script>
    var elems = document.getElementById("elems").childElementCount;
    var table = document.getElementById("tab");
    var vide = document.getElementById("vide");
    if(elems<=0){
        table.style.display="none";
        vide.style.display="block";
    }
</script>
{% endblock %}
