{% extends 'base.html.twig' %}

{% block title %}Hello CommandController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
   .table{
        margin: 20px 0;
    }
</style>
<div class="container">
<div class="row">

<h1 data-id="{{ command.id }}">Commande : {{ command.id }} - Email : {{ command.email }}</h1>
<div class="row">
<h3>Produits</h3>
<table class="table table-dark table-striped">
    <thead>
        <tr>
            <th>Nom</th>
            <th>Prix</th>
        </tr>
    </thead>
    <tbody>
    {% for product in command.products %}
        <tr>
            <td><a href="{{ path('product.show', {id : product.id}) }}">{{ product.name }}</a></td>
            <td>{{ product.price|e }}€</td>
        </tr>
    {% endfor %}
    </tbody>
    <tfoot>
    <tr>
      <td>Total de {{ nbproduit }} produit(s)</td>
      <td>{{ somme }} €</td>
    </tr>
  </tfoot>
</table>
</div>
</div>
</div>
{% endblock %}
