{% extends 'base.html.twig' %}

{% block title %}Hello ProductController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    .table{
        margin: 20px 0;
    }
</style>
<div class="container">
<div class="row">
<h1>Liste des  produits</h1>
<table class="table table-dark table-striped">
    <thead>
        <tr>
            <th>Nom</th>
            <th>Prix</th>
            <th>Description</th>
            <th>Date</th>
        </tr>
    </thead>
    <tbody>
        {% for product in products %}
                <tr>
                    <td><a href="{{ path('product.show', {id : product.id}) }}">{{ product.name }}</a></td>
                    <td>{{ product.price }}€</td>
                    <td>
                        {{ product.description|slice(1,300) }}
                        <a href="{{ path('product.show', {id : product.id}) }}">... Voir plus</a>
                    </td>
                    <td>{{ product.createdAt|date('d/m/y') }}</td>
                    
                </tr>
        {% endfor %}
    </tbody>
</table>
</div>
</div>
{% endblock %}
