{% extends 'base.html.twig' %}

{% block title %}Hello productController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
   .table{
        margin: 20px 0;
    }
</style>
<div class="container">
<div class="row">

<h1 data-id="{{ product.id }}">Product : {{ product.name }}</h1>
<table class="table table-dark table-striped">
    <thead>
        <tr>
            <th>Nom</th>
            <th>Prix</th>
            <th>Description</th>
            <th>Date</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{ product.name|e }}</td>
            <td>{{ product.price|e }}</td>
            <td>{{ product.description|e }}</td>
            <td>{{ product.createdAt|date('d/m/y') }}</td>
        </tr>
    </tbody>
</table>
<a href="/product" class="btn">Retour</a>
<a id="addpanier" class="btn btn-primary" role="button">Ajouter au panier</a>
</div>
</div>
<script>
            const id = document.querySelector("h1").getAttribute("data-id");
            const btn = document.querySelector("#addpanier");
            const url = `/panier/add/${id}`;

            btn.addEventListener("click", () => {
                btn.disabled = true;
                    fetch(url)
                    .then(res => res.json())
                    .then(res => {
                        document.location.reload();
                        btn.disabled = true;
                    });
            });

        </script>
{% endblock %}
